* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}

.AppName {
  text-align: center;
  padding-top: 15px;
}